* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background: url(images/pattern-hills.svg), url(images/bg-stars.svg),
    linear-gradient(180deg, #1d1e28 0.12%, #261c2d 94.84%, #261a2d 100%);
  background-position: bottom 0 right -64px, top right, top right;
  background-size: 909px auto, 100% calc(100% - 168px), 100% 100%;
  background-repeat: no-repeat;
  padding: 0 24px;
}

.container {
  margin: 20vh auto;
  text-align: center;
}

.container h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 6.13636px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 54px;
}

.countdown-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.countdown .description {
  font-weight: bold;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 2.95937px;
  color: #8385a9;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 50%;
  transform: translateX(50%);
}

.social-links li a svg:hover {
  fill: #fb5e84;
}

.value {
  width: 148px;
  height: 140px;
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 9px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #343650;
  color: white;
  position: relative;
}

.value-help {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.value::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.value-help::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #191a23;
}

.value-help::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #191a23;
}

.up,
.down {
  width: 100%;
  height: 50%;
  overflow: hidden;
  font-weight: bold;
  font-size: 80px;
  line-height: 71px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #fb5e84;
  overflow: hidden;
  position: relative;
}

.up span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  /* margin-top: 50%; */
}
.down span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 50%; */
}
