* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  overflow: hidden;
  background: url(images/pattern-hills.svg), url(images/bg-stars.svg),
    linear-gradient(180deg, #1d1e28 0.12%, #261c2d 94.84%, #261a2d 100%);
  background-position: bottom left, top right, top right;
  /* background-size: 1538px auto, 100% calc(100% - 168px), 100% 100%; */
  background-repeat: no-repeat;
  padding: 0 24px;
}

.container {
  padding-top: 20vh;
  margin: 0 auto;
  text-align: center;
}

.container h1 {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.318;
  text-align: center;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 104px;
}

.countdown-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.countdown .description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 5.91875px;
  color: #8385a9;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 50%;
  transform: translateX(50%);
}

.social-links li a svg:hover {
  fill: #fb5e84;
}

.value {
  perspective: 25em;
  width: 9.25em;
  height: 8.75em;
  border-radius: 0.5em;
  margin-bottom: 1.625em;
  box-shadow: 0px 0.625em 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0.625em 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0.625em 0px 0px rgba(0, 0, 0, 0.75);
  background-color: #343650;
  color: white;
  position: relative;
  font-size: 1rem;
}

.helper-value {
  position: absolute;
  perspective: 25em;
  top: 0;
  left: 0;
  width: 9.25em;
  height: 8.75em;
  border-radius: 0.5em;
}

.value-help {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.value::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.value-help::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: #191a23;
}

.value-help::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: #191a23;
}

.up,
.down {
  width: 100%;
  height: 50%;
  text-align: center;
  color: #fb5e84;
  overflow: hidden;
  position: relative;
  background-color: #343650;
}

.up span,
.down span {
  font-weight: bold;
  font-size: 5em;
  line-height: 0.8875;
  letter-spacing: -2.4px;
}

.up {
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  border-radius: 0.5em 0.5em 0 0;
}

.down {
  border-radius: 0 0 0.5em 0.5em;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
}

.helper-down {
  -webkit-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);

  /* box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75); */
}

.up span {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  /* margin-top: 50%; */
}
.down span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin-top: 50%; */
}

/* Animations */
@-webkit-keyframes upflip {
  from {
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(-90deg);
  }
}

@keyframes upflip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-90deg);
  }
}

@-webkit-keyframes downflip {
  0% {
    -webkit-transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}

@keyframes downflip {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* Helper cards styling */

@media screen and (max-width: 800px) {
  body {
    background-position: bottom right -129px, top right, top right;
    background-size: 971px auto, auto calc(100% - 168px), 100% 100%;
    background-repeat: no-repeat;
    padding: 0 24px;
  }

  .container h1 {
    font-size: 20px;
    /* letter-spacing: 7.5px; */
    margin-bottom: 79px;
  }
  .countdown-wrap {
    column-gap: 1rem;
  }
  .value {
    font-size: 0.8rem;
  }
  .countdown .description {
    font-size: 10px;
    letter-spacing: 5.91875px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-position: bottom right -100px, top right, top right;
  }

  .container h1 {
    font-size: 18px;
    letter-spacing: 6.13636px;
    margin-bottom: 54px;
  }
  .countdown-wrap {
    justify-content: space-between;
    column-gap: unset;
    max-width: 350px;
    margin: 0 auto;
  }
  .value {
    font-size: 0.5rem;
  }
  .countdown .description {
    font-size: 7px;
    letter-spacing: 2.95937px;
  }
}
